// header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;

  .title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0 20px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      ul {
        padding-left: 0;
        margin: 0 35px;

        .item {
          margin: 0;
          text-decoration: none;
          color: black;

          &:hover {
            color: #D28481;
          }
        }
      }
    }
  }
}