// header
#header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;

  .title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0 20px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      ul {
        padding-left: 0;
        margin: 0 35px;

        .item {
          margin: 0;
          text-decoration: none;
          color: black;

          &:hover {
            color: #D28481;
          }
        }
      }
    }
  }
}

// footer
#footer {
  display: flex;
  justify-content: space-around;
  padding: 29px 0;
  border-top: 1px solid #ebebeb;

  p {
    font-size: 0.75em;
    margin: 0;
    color: #9b9b9b;
  }
}

// MainPage
#home {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: #dbdad0;
  }
}